// Base

*,
*:after,
*:before {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
}

html {
    height: 100%;
    position: relative;
    height: 100%;
    z-index: 1;
}

body {
    height: 100%;
    position: relative;
    z-index: 1;
    font-family: 'Roboto';
}


.banner {
    background-color: #9fa8da;
    height: 100px;
    text-align: center;
    .title {
        color: $white;
        padding: 10 0 5 0;
        font-size: 28px;
        font-family: 'Roboto Slab';
        font-weight: 400;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
    }
    .subtitle {
        color: $white;
        font-size: 18px;
        font-family: 'Roboto Slab';
    }
}

.navigation {
    padding: 20px;
    text-align: center;
    div {
        display: inline-block;
    }
    .link {
        width: 150px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        padding: 10 30 10 30;
        letter-spacing: 2px;
        color: #b0bec5;
        transition: color 500ms ease;
        &:hover {
            color: $black;
            transform: rotate(-180deg);
            direction: rtl;
            unicode-bidi: bidi-override;
        }
    }
}

.content {
    width: 100%;
    padding: 50px;
    position: relative;
    vertical-align: baseline;
}

.page-container {
    width: 90%;
    margin: 0 auto;
}

.footer {
    clear: both;
    text-align: center;
    background-color: #9fa8da;
    position: relative;
    vertical-align: baseline;
    height: 80px;
    a {
        padding: 0 2 0 2;
    }
    .icons {
        @include vertical-align();
        .fa-circle {
            color: #b0bec5;
            transition: all 300ms ease;
        }
        #github:hover {
            cursor: pointer;
            .fa-circle {
                color: #000;
            }
        }
        #linkedin:hover {
            cursor: pointer;
            .fa-circle {
                color: #007bb6;
            }
        }
        #twitter:hover {
            cursor: pointer;
            .fa-circle {
                color: #00aced;
            }
        }
        #envelope:hover {
            cursor: pointer;
            .fa-circle {
                color: #00cc00;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .banner {
        .title {
            font-size: 24px;
        }
        .subtitle {
            font-size: 14px;
        }
    }
    .navigation {
        .link {
            width: auto;
            font-size: 14px;
            padding: 10px;
            letter-spacing: 1px;
        }
    }
    .footer {
        .icons {
            font-size: 11px;
        }
    }
}
