// Base
*,
*:after,
*:before {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
}

html {
    position: relative;
    height: 100%;
    z-index: 1;
}

body {
    position: relative;
    height: 100%;
    z-index: 1;
    background: $white;
    font-family: 'Roboto';
}

.content {
    height: 100%;
    position: relative;
}

.page-container {
    height: 100%;
}

[ui-view].home.ng-enter, [ui-view].home.ng-leave {
    background: $white;
    position: absolute;
    left: 0;
    right: 0;
    transition: background 0.5s opacity 0.5s;
}

[ui-view].home.ng-enter {
    background: $white;
    opacity: 0;
}

[ui-view].home.ng-enter-active {
    background: $white;
    opacity: 1;
}

[ui-view].home.ng-leave {
    background: $white;
    opacity: 1;
    z-index: 0;
}

[ui-view].home.ng-leave-active {
    background: $white;
    opacity: 1;
    z-index: 0;
}

[ui-view].animate.ng-enter, [ui-view].animate.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    transition: top 0.5s;
}

[ui-view].animate.ng-enter {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 2;
}

[ui-view].animate.ng-enter-active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

[ui-view].animate.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

[ui-view].animate.ng-leave-active {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
}
