// Base
*,
*:after,
*:before {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
}

html {
    position: relative;
    height: 100%;
    z-index: 1;
}

body {
    position: relative;
    height: 100%;
    z-index: 1;
    background: $white;
    font-family: 'Roboto';
}

.content {
    height: 100%;
    position: relative;
}

.page-container {
    height: 100%;
}

.modal {
    box-shadow: 0px 0px 10px 5px #AAAAAA;
    background: $white;
    color: #90a4ae;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    a {
        text-decoration: none;
        color: #e1bee7;
        &:hover {
            text-decoration: underline;
        }
    }
}

.card {
    padding: 20px;
    line-height: 160%;
}

.card-border {
    box-shadow: 0px 0px 5px 1px #b0bec5;
}

.image-card-border {
    box-shadow: 0px 0px 5px 2px #b0bec5;
}

.close-page {
    @include border-radius(50%);
    box-shadow: 0px 0px 3px 0px #AAAAAA;
    background: #e1bee7;
    text-align: center;
    height: 50px;
    width: 50px;
    position: fixed;
    top: -100px;
    right: 22px;
    cursor: pointer;
    z-index: 3;
    transition: background 0.2s, transform 0.2s, top 0.5s;
    .x {
        position: absolute;
        width: 34px;
        height: 5px;
        background: #FFFFFF;
        left: 8px;
        top: 23px;
        transition: background 0.2s;
        &.x-1 {
            transform: rotate(45deg);
        }
        &.x-2 {
            transform: rotate(-45deg);
        }
    }
    &:hover {
        background: $white;
        transform: rotate(180deg);
        .x {
            background: #e1bee7;
        }
    }
    &.show {
        top: 22px;
    }
}

// Page Animations
[ui-view].home.ng-enter, [ui-view].home.ng-leave {
    background: $white;
    position: absolute;
    left: 0;
    right: 0;
    transition: background 0.5s opacity 0.5s;
}

[ui-view].home.ng-enter {
    background: $white;
    opacity: 0;
}

[ui-view].home.ng-enter-active {
    background: $white;
    opacity: 1;
}

[ui-view].home.ng-leave {
    background: $white;
    opacity: 1;
    z-index: 0;
}

[ui-view].home.ng-leave-active {
    background: $white;
    opacity: 1;
    z-index: 0;
}

[ui-view].animate.ng-enter, [ui-view].animate.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    transition: top 0.5s;
}

[ui-view].animate.ng-enter {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 2;
}

[ui-view].animate.ng-enter-active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

[ui-view].animate.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

[ui-view].animate.ng-leave-active {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
}
