// About page specific styles.
.about-page {
    .page-wrapper {
        .overview-wrapper {
            @include col(1/3, 0, 2);
            .profile {
                height: 500px;
                position: relative;
                background: url('../assets/img/about/prof.jpg') no-repeat center center;
                background-size: cover;
            }
            .profile-text {
                margin: 15px auto;
                margin-left: 15px;
                font-family: 'Roboto Slab', sans-serif;
                font-size: 40px;
            }
        }
        .info-wrapper {
            @include col(2/3, 0, 2);
            .summary {
                width: 100%;
            }
            .experience {
                margin-top: 30px;
                width: 100%;
                ul {
                    margin-left: 20px;
                    list-style-type: square;
                }
            }
            .skills {
                margin-top: 30px;
                width: 100%;
                .skills-title {
                    color: $blue-grey;
                }
                .skills-list {
                    margin-bottom: 7px;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .about-page {
        .about-wrapper {
            padding: 0 5%;
        }
    }
}

@media (max-width: 1080px) {
    .about-page {
        .about-wrapper {
            padding: 0 4%;
            .overview-wrapper {
                @include col(2/5, 0, 2, 2);
            }
            .info-wrapper {
                @include col(3/5, 0, 2, 2);
            }
        }
    }
}

@media (max-width: 1000px) {
    .about-page {
        height: auto;
        padding: 30px 20px;
        .about-wrapper {
            @include undo-vertical-align();
            margin-top: 70px;
            .overview-wrapper {
                @include col(1, 0, 1, 2);
                height: 100%;
                margin-bottom: 30px;
            }
            .info-wrapper {
                @include col(1, 0, 1, 2);
            }
        }
    }
}
