// Home

.home-page {
    overflow: hidden;
    background: #CAE0FF;
}

.title-container {
    @include vertical-align();
    text-align: center;
    .landing-title {
        font-family: 'Pacifico';
        width: 100%;
        margin: 10 auto;
        font-weight: 500;
        color: #b0bec5;
        line-height: 100px;
        font-size: 90px;
        text-align: center;
        transition: font-size 200ms ease;
        &:hover {
            font-family: 'Roboto';
            font-size: 70px;
        }
    }
    .icons {
        width: 100%;
        margin: 0 auto;
        .fa-circle {
            color: #b0bec5;
            transition: all 300ms ease;
        }
        #github:hover {
            cursor: pointer;
            .fa-circle {
                color: #000;
            }
        }
        #linkedin:hover {
            cursor: pointer;
            .fa-circle {
                color: #007bb6;
            }
        }
        #twitter:hover {
            cursor: pointer;
            .fa-circle {
                color: #00aced;
            }
        }
        #envelope:hover {
            cursor: pointer;
            .fa-circle {
                color: #00cc00;
            }
        }
    }
}

.navigation-container {
    position: fixed;
    bottom: 20%;
    width: 100%;
    .navigation {
        @include cf();
        margin: 0 auto;
        width: 250px;
        .link {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 300;
            cursor: pointer;
            letter-spacing: 2px;
            color: #b0bec5;
            transition: color 500ms ease;
            &:hover {
                color: $black;
                transform: rotate(-180deg);
                direction: rtl;
                unicode-bidi: bidi-override;
            }
            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }
    }
}

@media (max-width: 480px) {
    .title-container {
        .landing-title {
            line-height: 90px;
            font-size: 80px;
            &:hover {
                font-size: 60px;
            }
        }
    }
    .navigation-container {
        .navigation {
            width: 200px;
        }
    }
}
