// Home

.landing-title {
    @include vertical-align();
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: $black;
    letter-spacing: 1px;
    line-height: 80px;
    font-size: 60px;
}
