.personal-page {
    .header {
        .header-img {
            background: url('../assets/img/projects/personal/preview.png') no-repeat center center;
            background-size: contain;
            height: 450px;
        }
    }
}
