.premed-page {
    .header {
        transition: opacity 250ms;
        .header-img {
            background: url('../assets/img/projects/premed/header.png') no-repeat center center;
            background-size: contain;
            height: 450px;
            @media (max-width: 640px) {
                height: 300px;
            }
            @media (max-width: 480px) {
                height: 250px;
            }
        }
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
    .structure {
        .block {
            margin-top: 20px;
            padding: 3%;
            color: $black;
            background: $light-grey;
            font-size: 18px;
            line-height: 24px;
            @media (max-width: 570px) {
                font-size: 14px;
                line-height: 20px;
            }
            @media (max-width: 320px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
        .image-wrapper {
            margin-top: 20px;
            @include cf();
            .image {
                @include col(1/2, 0, 2);
                margin-bottom: 30px;
                .mockup-image {
                    height: 300px;
                    background-size: cover;
                    background-position: top center;
                    background-repeat: no-repeat;
                }
                @media (max-width: 880px) {
                    @include col(1, 0, 1, 2);
                }
            }
        }
    }
}
