// Projects
.projects-page {
    .projects-wrapper {
        @include cf();
        @include vertical-align();
        padding: 0 10%;
        z-index: 1;
        .projects {
            .image {
                height: 450px;
                width: 500px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}
