<div class="page-container" ng-controller="aboutctrl">
    <div class="about-me" ng-repeat="description in descriptions track by $index">
        <img src="{{ description.photo }}" class="image responsive-img z-depth-1">
        <div class="description">
            <h4 class="heading">
                Title here
                {{ description.title }}
            </h4>
            <h5 class="subheading">
                {{ description.subtitle }}
            </h5>
            <div class="blurb flow-text">
                {{ description.blurb }}
            </div>
        </div>
    </div>
</div>
