<div class="page-container premed-page project-description" ng-controller="premedCtrl">
    <div class="back-wrapper">
        <div class="arrow" ui-sref="projects">
            <div class="bar bar-left"></div>
            <div class="bar bar-right"></div>
        </div>
        <div class="back" ui-sref="projects">back to projects</div>
    </div>
    <div class="header card-border">
        <a href="http://rocky-sands-3716.herokuapp.com/" target="_blank"><div class="header-img" target="new"></div></a>
    </div>
    <div class="title">{{ title }}</div>
    <div class="technologies">Technologies: MeteorJS</div>
    <div class="intro">
        Part of what <a href="http://innovativedesign.club/" target="_blank">Innovative Design</a>, the club I'm in at school, does is design work for other organizations on campus.  Premed at Berkeley is an organization that compiles resources for students hoping to go to medical school.  I was assigned to do front end work on premed as most of back end had been completed the previous semester.  My job was to essentially recreate the mockups given to us by our two designers.  This was my first time using MeteorJS, but due to my previous experience with AngularJS it was very easy to pick up.
    </div>
    <div class="structure">
        <div class="base">
            <div class="subsubtitle">Project Structure and Vendors</div>
            <div class="description">I started off by deleting all the old front-end code from the previous semester and redoing the structure of the app.  In my previous project, I had started using scss so I included it in my project.  </div>
        </div>
    </div>
</div>
